[Desktop Entry]
Name=SteamArt
Comment=Metadados e arte para jogos não-Steam na biblioteca do Steam
Exec=steamart
Icon=steamart
Terminal=false
Type=Application
Categories=Game;
